<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965072151714-4umc33l9elr5vkekt4t9kqjcai00gb1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965072151714-4umc33l9elr5vkekt4t9kqjcai00gb1r</string>
	<key>API_KEY</key>
	<string>AIzaSyBWY4VGQ-FQXfOMOwQXJVH3Yt8KXpW-ooM</string>
	<key>GCM_SENDER_ID</key>
	<string>965072151714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kurtcan.firezup</string>
	<key>PROJECT_ID</key>
	<string>firezup</string>
	<key>STORAGE_BUCKET</key>
	<string>firezup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965072151714:ios:6d500f7ba78e5a0b23a3fb</string>
</dict>
</plist>